<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Api</key>
	<dict>
		<key>Salt</key>
		<string>mSRy4DOUWH TmJ1o-bLlnl~pfDkKrWmtktl~OMHZQbQ1ufcf o%aQl1q8iiQ</string>
		<key>Key</key>
		<string>jHThTVYnIeyhIVwJwDIo6VUmADu0rVEQjZUz01rDv44nXorBH3S9dXsacL4LzbK6</string>
		<key>BaseUrl</key>
		<string>https://bradreed.co.uk/ivapi/v1</string>
	</dict>
</dict>
</plist>
